
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <div class="alert alert-danger" *ngIf="error">
        <p>{{ error }}</p>
      </div>
      <div class=" success alert-success text-center font-weight-bold" id="successmessage" *ngIf="successMessage">
        {{successMessage}}
      </div>
      <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <div *ngIf="!isLoading">
        <h1 style="text-align: center;" class="text-primary">Sign Up</h1>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" >
          <div class="form-group" >
            <label for="firstname">First Name</label>
            <input type="text" id="firstname" class="form-control" formControlName="firstName"  />
          </div>
          <div class="form-group" >
            <label for="lastname">Last Name</label>
            <input type="text" id="lastname" class="form-control" formControlName="lastName"  />
          </div>
          <div class="form-group" >
            <label for="fname">Staff Id</label>
            <input type="text" id="staffId" class="form-control" formControlName="staffId"  />
          </div>
          <div formGroupName="passwordGroup">
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" class="form-control" formControlName="password" />
              <span *ngIf="!password.valid && password.touched" class="help-block">Password must of minimum 8
                characters!</span>
            </div>
            <div class="form-group">
              <label for="password">Confirm Password</label>
              <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword" />
              <span *ngIf="!confirmPassword.valid && confirmPassword.touched" class="help-block">Please Confirm your
                password</span>
            </div>
            <div class="error" *ngIf="
                password.valid && confirmPassword.valid && formGroup.invalid
              ">
              Passwords don't match!
            </div>
          </div>
          <button class="btn btn-primary btn-block" type="submit" [disabled]="!signUpForm.valid"
            style="cursor: pointer;">
            Register
          </button>
        </form>
        <p style="text-align: center;">
          Already have an account?<a [routerLink]="['/login']">Log In</a>
        </p>
      </div>
    </div>
  </div>
</div>